@charset "UTF-8";
* {
  /* border: solid 1px; */
  font-family: 微軟正黑體;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d5d1c6;
}

/* .left {
  display: inline-block;
  width: 7%;
  height: 100%;
} */

nav{
  background-color: #333e54;
  min-height: 70px;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 15px;
}

.navleft{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

/* #navsearch{
  margin: 12px;
  border-left-style:solid; 
  border-width:0.05px; 
  border-left-color: #edeadb;
} */
.navright{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.dropbtn {
  color: #edeadb;
  padding: 1.5vh;
  font-size: 16px;
  background-color: rgb(51,62,84);
  float:left;
  /* border-right-style:solid; 
  padding-right:10px;
  border-width:0.05px; 
  border-right-color: #edeadb; */
  /* z-index: 1; */
}
.dropbtn:hover, .dropbtn:focus {
  color: #edeadb;
}

a.navbar-brand.mx-auto h4 {
  display: inline-block;
  /* font-weight: bold;
  margin: 0px; */
}
.logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}


.btn{  
  width: 80pt;
  outline: none;
}




.container-fluid .row {
  display: flex;
  flex-wrap: wrap;
  min-height: 508px ; 
}

.col-md-5{
  min-height: 450px ; 
}

.container-fluid .row .col-md-5.pic1 {
  background-image: url(https://i.imgur.com/DITety2.png);
  background-size: auto 120%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.container-fluid .row .col-md-5.pic1 .textpanel {
  margin: 40%;
  text-align: center;
}
.container-fluid .row .col-md-5.pic1 .textpanel h4 {
  margin: 10px;
  margin-top: 0px;

}
.container-fluid .row .col-md-5.pic1 .textpanel .ba {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #777;
}


.signup-form {
  margin: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8%;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.form-title {
  text-align: center;
}


.form-group {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

.form-group.re{
  margin-top: 8px;
  text-align: left;
  margin-bottom: 0px;
 }

.btn.btn-primary{
  height: 45px;
  width: 80px;
  border-radius: 10px;
}

.in{
  height: 40px;
  outline:none;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  background-color: transparent; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

