.banner{
    background-color: rgb(51,62,84);
    width: 100%;
}

.dropbtn {
    color: white;
    padding: 1.5vh;
    font-size: 16px;
    background-color: rgb(51,62,84);
    float:left;
  }

.background {
    background-color: #edeadc;
    width: 100%;
    /* height: auto; */
    display: table;
    background-size: cover;
}

.carousel {
    margin:0 auto;
}

.text-type{
    /* font-size : 14pt; */
    font-family : "Microsoft JhengHei";
}

.top_pic{
    /* height: 70vh; */
}

.card{
    margin:2%;
}

.btn-outline-dark{
    font-family : "Microsoft JhengHei";
    font-weight : bold;
    width: 100px;
    margin:5px;
}

.btn .btn-dark{
    font-family : "Microsoft JhengHei";
    font-weight : bold;
    height:30px; 
    margin: 10px;
}

.btn-light{
    box-shadow:3pt !important;
}


.dark-arrow-right{
    background-image: url("img/right-arrow.png")!important ;

}
.dark-arrow-left{
    background-image: url("img/left-arrow.png")!important ;

}

.down-control {
    width: 2% !important ;
}
.down-item {
    padding-right: 2%;
    padding-left: 2%;
}

.footer-element{
    color: #edeadb;
    margin: 2.5vh;
    font-size: 14px;
}

.upper-nav {
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

.time-font{
    font-family:"Microsoft JhengHei";
    font-size: 12px;
}