.banner{
    background-color: rgb(51,62,84);
    width: 100%;
    /* vh螢幕可視範圍高度的百分比 */
    height: 8vh;
}
.dropbtn {
    color: white;
    padding: 1.5vh;
    font-size: 16px;
    background-color: rgb(51,62,84);
    float:right;
  }

.background {
    background: url(img/login_bg.png) center no-repeat;
    width: 100%;
    /* height: auto; */
    display: table;
    background-size: cover;
}

.leftback {
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}

.main_text{
    color:rgb(0, 0, 0);
    display: table-cell;
    vertical-align: middle;
    /* height: 100%;
    width: 100%; */
    height: 500pt;
    width: 520pt;
} 

.title-type{
    text-align : center;
    font-family : "Microsoft JhengHei";
    font-weight : bold;
}

.text-type{
    padding-left: 20%;
    list-style: none;
    /* list-style: circle; */
    font-family : "Microsoft JhengHei";
    font-weight : bold;
}


.login-box{
    color:#c4c2c2;
    /* display: table-cell; */
    text-align: center;
    font-family : "Microsoft JhengHei";
    font-weight : bold;
    padding-top: 50px;
}