@charset "UTF-8";
* {
  /* border: solid 1px; */
  font-family: 微軟正黑體;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d5d1c6;
}

/* .left {
  display: inline-block;
  width: 7%;
  height: 100%;
} */

a.navbar-brand.mx-auto h4 {
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.dropbtn {
  color: white;
  padding: 1.5vh;
  font-size: 16px;
  background-color: transparent;
  float:left;
}

.container-fluid .row {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid .row .col-md-5.pic1 {
  background-image: url(https://i.imgur.com/DITety2.png);
  background-size: auto 140%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.container-fluid .row .col-md-5.pic1 .textpanel {
  margin: 40%;
  text-align: center;
}
.container-fluid .row .col-md-5.pic1 .textpanel h4 {
  margin: 10px;
  margin-top: 0px;

}
.container-fluid .row .col-md-5.pic1 .textpanel .ba {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #777;
}


.signup-form {
  margin: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8%;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.form-title {
  text-align: center;
}


.form-group {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

.form-group.re{
  margin-top: 8px;
  text-align: left;
  margin-bottom: 0px;
 }

.btn.btn-primary{
  height: 45px;
  width: 80px;
  border-radius: 10px;
}

.in{
  height: 40px;
  outline:none;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  background-color: transparent; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

