* {
    /* border: 1px solid; */
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}
.banner{
    background-color: rgb(51,62,84);
    width: 100%;
    /* vh螢幕可視範圍高度的百分比 */
}
/* nav{
    height: 50pt;
} */
.dropbtn {
    color: white;
    padding: 1.5vh;
    font-size: 16px;
    float:left;
  }

a.navbar-brand.mx-auto h4 {
    display: inline-block;
    font-weight: bold;
    margin: 0px;
}



.logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
}


.background {
    background-color: #edeadc;
    /* background-image:url(img/collect_bg.png);
    background-size: cover; */
    width: 100%;
    /* height: auto; */
    display: table;
    background-size: cover;
}

.text-type{
    /* font-size : 14pt; */
    font-family: "微軟正黑體";
}

.card{
    margin:10pt;
}

i .far.fa-clock{
    font-family: 微軟正黑體;
}
.footer-element{
    color: #edeadb;
    margin: 2.5vh;
    font-size: 14px;
}
