.banner{
    background-color: rgb(51,62,84);
    width: 100%;
    /* vh螢幕可視範圍高度的百分比 */
}

.dropbtn {
    color: white;
    padding: 1.5vh;
    font-size: 16px;
    background-color: rgb(51,62,84);
    float:left;
  }
  
.background {
    background-color: #edeadc;
    /* background-image:url(img/collect_bg.png);
    background-size: cover; */
    width: 100%;
    /* height: auto; */
    display: table;
    background-size: cover;
}

.text-type{
    /* font-size : 14pt; */
    font-family : "Microsoft JhengHei";
}

.card{
    margin:10pt;
}
