*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    display: flex;
    width: 1920px;
    height: 68px;
    padding-right: 44px;
    background-color: #333e54;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.header .select_language{
    width: 112px;
    text-align: center;
}
.header .select_language a{
    text-decoration: none;
    color: #edeadb;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.header .vertical_line{
    border-left: 1px solid #707070;
    height: 68px;
    margin-right: 36px;
}
.header input{
    margin-left: 8px;
    width: 100px;
    height: 28px;
    border: 2px solid #5D6982;
    font-size: 14px;
    color: #edeadb;
    padding-left: 15px;
    border-radius: 15px;
    background-color: #333e54;
    transition: width 0.4s ease-in-out;
}
.header input:focus{
    outline: none;
    width: 257px;
}
.header .logo{
    position: absolute;
    left: 48%;
}
.header .logo a{
    text-decoration: none;
    width: 100%;
    color: #edeadb;
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    display: inline-block;
}
.header .align_right{
    display: flex;
    clear: both;
    float: right;
    position: absolute;
    right: 44px;
    align-items: center;
}
.header .user_points{
    margin-left: 8px;
    width: 112px;
    height: 42px;
    border: 1px solid #edeadb;
    font-size: 24px;
    color: #ffffff;
    text-align: right;
    line-height: 42px;
    padding-right: 15px;
    border-radius: 30px;
    background-color: #212834;
}
.header .notification{
    margin: 0 24px;
}

.subject{
    width: 1920px;
    background-image: url('img/vote_bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #edead2;
}
.subject h1{
    padding: 48px 0 32px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 41px;
    color: #4f4f4f;
}
.subject img{
    display: block;
    margin: auto;
}
.subject h3{
    margin: 0 auto;
    padding: 20px 0 104px;
    width: 922px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 36px;
    font-size: 24px;
    color: #4f4f4f;
}

.voting{
    width: 1920px;
    background-image: url('img/vote_bg2.png');
    background-repeat: no-repeat;
    background-color: #ced3d7;
    position: relative;
}
.voting .main{
    display: flex;
}
.voting .main h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    padding: 135px 26px 0 365px;
}
.voting .main .pool_total{
    width: 224px;
    height: 84px;
    border-radius: 104px;
    border: 3px solid #44bbff;
    background-color: rgba(237, 234, 219, 0.09);
    margin-top: 128px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    display: inline-block;
    line-height: 84px;
}
.voting .main .countdown{
    display: flex;
    clear: both;
    float: right;
    position: absolute;
    right: 440px;
    align-items: center;
}
.voting .main .countdown .day{
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background-color: #edeadb;
    margin-top: 128px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #666666;
    text-align: center;
    display: inline-block;
    line-height: 58px;
}
.voting .main .countdown .day .day_text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #edeadb;
}
.voting .main .countdown .hour1{
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background-color: #edeadb;
    margin-top: 128px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #666666;
    text-align: center;
    display: inline-block;
    line-height: 58px;
}
.voting .main .countdown .hour1 .hour_text{
    padding-left: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #edeadb;
}
.voting .main .countdown .hour2{
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background-color: #edeadb;
    margin-top: 128px;
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #666666;
    text-align: center;
    display: inline-block;
    line-height: 58px;
}
.voting .main .countdown .minute1{
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background-color: #edeadb;
    margin-top: 128px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #666666;
    text-align: center;
    display: inline-block;
    line-height: 58px;
}
.voting .main .countdown .minute1 .minute_text{
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #edeadb;
}
.voting .main .countdown .minute2{
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background-color: #edeadb;
    margin-top: 128px;
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #666666;
    text-align: center;
    display: inline-block;
    line-height: 58px;
}
.voting .question{
    display: flex;
}
.voting .question .align_center{
    margin: auto;
}
.voting .question .align_center h3{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #edeadb;
    padding-top: 76px;
    text-align: center;
}
.voting .question .align_center hr{
    margin-top: 24px;
    border: 1px solid #edeadb;
}
.voting .question .align_center .chart{
    display: flex;
    padding-top: 150px;
    text-align: center;
}
.voting .question .align_center .chart .chart1{
    padding-right: 56px;
}
.voting .question .align_center .chart .chart1 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #53b1bd;
    padding-bottom: 14px;
}
.voting .question .align_center .chart .chart1 h5{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #53b1bd;
    padding-top: 20px;
}
.voting .question .align_center .chart .chart2 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #f7e591;
    padding-bottom: 14px;
}
.voting .question .align_center .chart .chart2 h5{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #f7e591;
    padding-top: 20px;
}
.voting .question .align_center .vote_button{
    margin-top: 62px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.voting .question .align_center .vote_button img{
    margin: auto;
}
.voting .question .align_center .vote_button .vote_text{
    position: absolute;
    top: 48%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    color: #ffffff;
}
.voting .question .align_center .modal{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 350px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 1920px;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.voting .question .align_center .modal .modal-content{
    box-sizing: border-box;
    background-color: #333b4b;
    margin: auto;
    padding: 20px;
    border: 20px solid #edeadc;
    border-radius: 10px;
    width: 845px;
    height: 592px;
}
.voting .question .align_center .modal .modal-content .close{
    color: #edeadc;
    float: right;
    font-size: 51px;
    line-height: 25px;
    font-weight: bold;
}
.voting .question .align_center .modal .modal-content .close:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.voting .question .align_center .modal .modal-content input[type=text]{
    display: block;
    margin: auto;
    width: 512px;
    height: 72px;
    box-sizing: border-box;
    border: 0px;
    font-size: 24px;
    color: #4c4c4c;
    margin-top: 80px;
    padding-left: 80px;
    border-radius: 40px;
    background-color: #fff;
    background-image: url(img/popup_window/window_coin.png);
    background-position: 16px;
    background-repeat: no-repeat;
}
.voting .question .align_center .modal .modal-content .coin{
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin5]{
    width: 70px;
    height: 70px;
    background-color: #333b4b;
    background: url(img/popup_window/coin5.png) no-repeat;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin10]{
    width: 70px;
    height: 70px;
    background-color: #333b4b;
    background: url(img/popup_window/coin10.png) no-repeat;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin50]{
    width: 70px;
    height: 70px;
    background-color: #333b4b;
    background: url(img/popup_window/coin50.png) no-repeat;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin100]{
    width: 100px;
    height: 60px;
    background-color: #333b4b;
    background: url(img/popup_window/coin100.png) no-repeat;
    cursor: pointer;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin500]{
    width: 100px;
    height: 60px;
    background-color: #333b4b;
    background: url(img/popup_window/coin500.png) no-repeat;
    cursor: pointer;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin1000]{
    width: 130px;
    height: 60px;
    background-color: #333b4b;
    background: url(img/popup_window/coin1000.png) no-repeat;
    cursor: pointer;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[id=coin0]{
    width: 70px;
    height: 70px;
    background-color: #333b4b;
    background: url(img/popup_window/coin0.png) no-repeat;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
    margin: 0 6px;
}
.voting .question .align_center .modal .modal-content .coin input[type=button]:hover{
    opacity: 0.5;
}
.voting .question .align_center .modal .modal-content .coin input[type=button]:active{
    transform: translateY(5px);
}
.voting .question .align_center .modal .modal-content p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 21px;
    color: #ff7979;
    text-align: center;
    padding-top: 20px;
}
.voting .question .align_center .modal .modal-content .v_button{
    margin-top: 40px;
    margin-left: 160px;
    display: flex;
}
.voting .question .align_center .modal .modal-content .v_button .win_but1{
    position: relative;
    cursor: pointer;
    margin-right: 56px;
    transition-duration: 0.1s;
}
.voting .question .align_center .modal .modal-content .v_button .win_but1 .real_but1{
    background-color: #333b4b;
    cursor: pointer;
    border: none;
}
.voting .question .align_center .modal .modal-content .v_button .win_but1:hover{
    opacity: 0.5;
}
.voting .question .align_center .modal .modal-content .v_button .win_but1:active{
    transform: translateY(10px);
}
.voting .question .align_center .modal .modal-content .v_button .win_but1 .but1_text{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 33px;
    color: #ffffff;
}
.voting .question .align_center .modal .modal-content .v_button .win_but2{
    position: relative;
    cursor: pointer;
    transition-duration: 0.1s;
}
.voting .question .align_center .modal .modal-content .v_button .win_but2 .real_but2{
    background-color: #333b4b;
    cursor: pointer;
    border: none;
}
.voting .question .align_center .modal .modal-content .v_button .win_but2:hover{
    opacity: 0.5;
}
.voting .question .align_center .modal .modal-content .v_button .win_but2:active{
    transform: translateY(10px);
}
.voting .question .align_center .modal .modal-content .v_button .win_but2 .but2_text{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 33px;
    color: #ffffff;
}
.voting .comment{
    padding-top: 144px;
    display: flex;
}
.voting .comment .section{
    margin: auto;
}
.voting .comment .section h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #4f4f4f;
}
.voting .comment .section hr{
    border: 3px solid #4f4f4f;
    width: 12%;
    margin: 15px auto 0;
}
.voting .comment .section h2{
    padding-top: 44px;
    padding-bottom: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 17px;
    color: #4f464f;
}
.voting .comment .section .message{
    display: flex;
    align-items: center;
    padding-bottom: 144px;
}
.voting .comment .section .message img{
    width: 76px;
    height: 76px;
    padding-right: 24px;
}
.voting .comment .section .message input{
    width: 964px;
    height: 100px;
    border-radius: 38px;
    padding-left: 24px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #7d7d7d;
    background-color: #ffffff;
    transition: 0.5s;
}
.voting .comment .section .message input:focus{
    outline: none;
    border: 3px solid #555;
}

.footer{
    display: flex;
    width: 1920px;
    height: 72px;
    padding-left: 68px;
    background-color: #333e54;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.footer .copyright{
    margin-left: 14px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #edeadb;
}
.footer .contact{
    display: flex;
    clear: both;
    float: right;
    position: absolute;
    right: 68px;
    align-items: center;
}
.footer .contact h4{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #edeadb;
    margin-right: 58px;
}
.footer .contact .space{
    width: 36px;
}
.footer .contact h5{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #edeadb;
}
.footer .contact h6{
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #edeadb;
}