/* .banner{
    background-color: rgb(51,62,84);
    width: 100%;
} */
input{
    outline:none;
    padding-left: 10px;
    color:#edeadb; 
    border-radius:10pt; 
    background-color: transparent;
    border-color: #edeadb;
    border-style: solid;
}
.form-inline{
    margin: 0pt;
}
nav{
    background-color: #333e54;
    min-height: 70px;
}

/* .navbar{
    padding: 8px,8px,16px,16px;
} */

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 15px;
}

.navleft{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}
.search{
    padding: 12px;
    border-left-style:solid; 
    border-width:0.05px; 
    border-left-color: #707070;
}
/* #navsearch{
    margin: 12px;
    border-left-style:solid; 
    border-width:0.05px; 
    border-left-color: #edeadb;
} */

.navright{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.dropbtn {
    color: white;
    padding: 1.5vh;
    font-size: 16px;
    background-color: rgb(51,62,84);
    float:left;
}

.dropbtn:hover, .dropbtn:focus {
    color: #edeadb;
}

a.navbar-brand.mx-auto h4 {
    display: inline-block;
    /* font-weight: bold;
    margin: 0px; */
}
.logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.money{
    border-radius: 20pt;
    background-color: #212834;
    border-color:  #edeadb;
    color: #edeadb;
}

.btn:disabled{
    opacity: 1;
}

.card-money{
    border-radius: 15pt;
    box-shadow:0px 4px rgba(20%,20%,40%,0.5);
    font-size: 11pt;
    width: 95px;
    height: 35px;
}

.background {
    background-color: #edeadc;
    width: 100%;
    /* height: auto; */
    display: table;
    background-size: cover;
}

.carousel {
    margin:0 auto;
}

.text-type{
    /* font-size : 14pt; */
    font-family : "Microsoft JhengHei";
}

.card{
    margin:2%;
}

.btn-outline-dark{
    font-family : "微軟正黑體","Microsoft JhengHei";
    font-weight : bold;
    width: 100px;
    margin:5px;
}

.btn .btn-dark{
    font-family : "微軟正黑體","Microsoft JhengHei";
    font-weight : bold;
    height:30px; 
    margin: 10px;
}

.btn-light{
    box-shadow:3pt !important;
}


.dark-arrow-right{
    background-image: url("img/right-arrow.png")!important ;

}
.dark-arrow-left{
    background-image: url("img/left-arrow.png")!important ;

}

.down-control {
    width: 2% !important ;
}
.down-item {
    padding-right: 2%;
    padding-left: 2%;
}

.footer-element{
    color: #edeadb;
    margin: 2.5vh;
    font-size: 14px;
}

.time-font{
    font-family:"Microsoft JhengHei";
    font-size: 12px;
}

.gallery-upload {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #F2F2F2;
}

.gallery-upload h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.gallery-upload form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.gallery-upload form input {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 100px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.gallery-upload form .bigger_field {
    width: 500px;
    height: 200px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.gallery-upload form input[type=file] {
    padding-top: 8px !important;
    background-color: #fefefe;
    width: 250px;
    height: 48px;
}

.gallery-upload form button {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    background-color: #4EADFF;
    color: #fff;
    font-weight: 700;
}